* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.contenedor-principal {
  background: #555;
  position: fixed;
  opacity: 0.9;
}

nav h2 {
  color: #28a745;
  color: #fff;
  color: #E8902C;;
}

nav i {
  color: #fff;
  color: #E8902C;;
  margin-left: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  width: 100vw;
  z-index: 210;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav ul li {
  padding: 1.2rem;
}

nav ul li a {
  text-decoration: none;
  color: #E8902C;
}

nav ul li a:hover {
  border-bottom: 3px solid red;
  padding-bottom: 0.5rem;
}

.main {
  background: url('../img/palmas-1.jpg') no-repeat center center/cover;
  height: 95vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main a {
  color: #fff;
  /* padding: 1rem; */
  text-decoration: none;
  font-size: 2rem;
}

.main a:hover {
  color: #28a745;
}

.main div {
  text-align: center;
  padding-top: 20%;
  color: #ff0000;
  font-size: 2rem;
}

.main .boton {
  text-decoration: none;
  background: #ff0000;
  color: #d4d4d4;
}

#nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

#nosotros img {
  height: 450px;
  width: 50vw;
}


#nosotros .info {
  background: #28a745;
  height: 450px;
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

#nosotros .info h3 {
  grid-column: 2 / -1;
  grid-row: 5 / 6;
  color: #fff;
  font-size: 2.5rem;
}

#nosotros .info p {
  grid-column: 2 / 12;
  grid-row: 6 / 7;
  color: #fff;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: justify;
}

#nosotros .info a {
  text-decoration: none;
  grid-column: 2 / 4;
  grid-row: 8 / 9;
  background: #fff;
  color: #28a745;
  border: #28a745 1px solid;
  text-align: center;
  padding: 1rem
}

#nosotros .info a:hover {
  background: #ddd;
}

#testimonios {
  background: url('../img/image_resources/test-bg.jpg') no-repeat center center/cover;
  margin-top: -4px;
}

#testimonios .testimonios {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

#testimonios h2{
  padding-top: 5rem;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  padding-bottom: 5rem;
}

#testimonios .testimonios div {
  background: #E8902C;
  width: 80%;
  margin-bottom: 3rem;
  border-radius: 10px;
  display: flex;
}

#testimonios img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 1.5rem;
}

#testimonios p {
  margin-top: 3rem;
  text-align: justify;
  margin-right: 1.5rem;
}

#recomendaciones {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1rem;
  margin: 1rem;
  background: #d3d3d3;
}

#recomendaciones div {
  height: 250px;
  border: #28a745 3px solid;
  border-radius: 10px;
}

#recomendaciones .destino-1 {
  background: url('../img/los_cabos.jpeg') no-repeat center center/cover;
}

#recomendaciones .destino-2 {
  background: url('../img/lacandona.jpg') no-repeat center center/cover;
}

#recomendaciones .destino-3 {
  background: url('../img/cancun.jpg') no-repeat center center/cover;
}

#recomendaciones .destino-4 {
  background: url('../img/cdmx.jpg') no-repeat center center/cover;
}

#recomendaciones .destino-5 {
  background: url('../img/acapulco.jpg') no-repeat center center/cover;
}

#recomendaciones .destino-6 {
  background: url('../img/maya.jpg') no-repeat center center/cover;
}

#recomendaciones .destino-7 {
  background: url('../img/mazatlan.jpg') no-repeat center center/cover;
}

#recomendaciones .destino-8 {
  background: url('../img/guadalajara.jpg') no-repeat center center/cover;
}

#recomendaciones div:hover {
  opacity: 0.8;
  cursor: pointer;
}

footer {
  background: #555;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

footer small {
  margin-top: 0.5rem;
}

.fb {
  color: #0e1f56;
}

.tw {
  color: #55acee;
}

.yt {
  color: #ff0000
}

.insta {
  color: #E1306C;
}